.container {
  /* background-image: linear-gradient(135deg,#02aab0,#00cdac);
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%); */
  transition: transform 0.3s; /* Animation */
}

.container:hover {
  transform: scale(
    1.04
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
