.header{

    background-image: url("../images/LW002.jpg");
    min-height: 70vh;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
  }

  .header__info_h1{

    /* text-align: center; */
    font-size: 50px;
  }
  
  .header__info{

    background-color: rgba(100, 100, 100, .3);
    border-radius: 5px;
    color: #181818;
    width: 70%;
    padding: 1rem 2rem ;

  }
  
  