.header{

    background-image: url("../../images/krisztian-tabori-LbgzoD7fZGc-unsplash.jpg");
    min-height: 90vh;
    /* height: 100%;  */
     /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Courgette', cursive;
    color:'white';
    /* background-image: linear-gradient(135deg,#02aab0,#00cdac); */
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
  }

 
  .banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(
      180deg,
      transparent,
      rgba(37, 37, 37, 0.61),
      #111
    );
  }
  .header__info_h1{
    font-family: 'Courgette', cursive;
    /* text-align: center; */
    font-size: 50px;
  }
  
  .header__info{
    color:'white';
    background-color: rgba(100, 100, 100, .3);
    border-radius: 5px;
    color: #fff;
    width: 70%;
    padding: 1rem 2rem ;

  }
  
  